[Unit]
Description=Timer for MeX Next unanswered phase proactive nudge ({ACCOUNT_ID})

[Timer]
OnCalendar=*-*-* 19:00:00
RandomizedDelaySec=15min
Persistent=true
Unit=mex-proactive-nudge-unanswered-phase-{ACCOUNT_ID}.service

[Install]
WantedBy=timers.target
