[Unit]
Description=Timer for MeX Next daily auto post ({ACCOUNT_ID})

[Timer]
OnCalendar=*-*-* 07:00:00 Asia/Tokyo
RandomizedDelaySec=60
Persistent=true
Unit=mex-daily-{ACCOUNT_ID}.service

[Install]
WantedBy=timers.target
