[Unit]
Description=Timer for MeX Next weekly phase questionnaire ({ACCOUNT_ID})

[Timer]
OnCalendar=Mon 09:00:00 Asia/Tokyo
RandomizedDelaySec=15min
Persistent=true
Unit=mex-phase-questionnaire-weekly-{ACCOUNT_ID}.service

[Install]
WantedBy=timers.target
